{{#has_fb_sdk}}
<!-- Facebook Plugin Widget -->
<div class="fb-messengermessageus"
  messenger_app_id="{{get_fb_app_id}}"
  page_id="{{get_fb_page_id}}"
  color="white"
  size="xlarge" ></div>
<!-- End Facebook Plugin Widget -->
{{/has_fb_sdk}}
